<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="7ddfa416-63fb-4dd7-b619-d7afe0324d5f" name="TS_Bid Items Import">
  <con:description id="27e1c3fa-ab9d-4273-bfd6-2e7142c1129c">The user can import Bid Items through API but the user should have no privilege to delete it through API.</con:description>
  <con:settings id="739f24b9-1eb8-4f5c-b50f-29bae569affc">
    <con:setting id="7ddfa416-63fb-4dd7-b619-d7afe0324d5ffileName">TS_Bid-Items-Import</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="4a8025f4-94ea-4501-9fea-c97dcac8b6cf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="666f0f54-3a2d-4ab8-b829-d61485c4034e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e6982624-acb8-444c-873d-074f9555a666">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8c42fbef-6237-4219-8044-b73695a4c38c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dcf09228-28f0-461d-97ba-ae52da190086">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
