<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="1600bcc6-9acf-4013-a98b-d8e3db9e2736" name="TS_DeleteDataFromUI" disabled="true">
  <con:settings id="49821500-a5ba-4c6b-a84e-d4f60ee4192d">
    <con:setting id="1600bcc6-9acf-4013-a98b-d8e3db9e2736fileName">TS_DeleteDataFromUI</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
