<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite xmlns:con="http://eviware.com/soapui/config" id="766149f6-e035-4be7-b45b-cd4e6d5a9bfe" name="TS_Annotation">
  <con:description id="476e2d27-48c0-47e9-b7bb-6ece4f17dad1">Endpoint for managing Annotation for Drawing. Users can Create, Modify, and Delete the annotations with the help of this Endpoint.</con:description>
  <con:settings id="141dd26d-fb78-4ac9-b8fd-83911da833ee">
    <con:setting id="766149f6-e035-4be7-b45b-cd4e6d5a9bfefileName">TS_Annotation</con:setting>
    <con:setting id="FlowLayout">true</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="4a8025f4-94ea-4501-9fea-c97dcac8b6cf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="666f0f54-3a2d-4ab8-b829-d61485c4034e">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="e6982624-acb8-444c-873d-074f9555a666">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="8c42fbef-6237-4219-8044-b73695a4c38c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="dcf09228-28f0-461d-97ba-ae52da190086">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
